debian/.debhelper/
debian/check-all-the-things.bash-completion
debian/check-all-the-things.debhelper.log
debian/check-all-the-things.substvars
debian/check-all-the-things/
debian/debhelper-build-stamp
debian/files
check-all-the-things.1
